*{
    font-family: Garamond;
}
body{
    margin: 0;
    padding: 0;
}
#baner, #stopka {
    background-color: #3CB371;
    color: white;
    padding: 10px;
    font-size: 130%;
    text-align: center;
}
#kontent {
    display: flex;
}
#lewy {
    background-color: #FAEBD7;
    width: 55%;
    height: 450px;
}
#prawy {
    background-color: #FAEBD7;
    width: 45%;
    height: 450px;
}
img {
    padding: 3px;
    margin: 15px;
    border: 2px dashed #3CB371;
}